.site-header {
    width: 100%;
    height: 60px;
    background-color: #111;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo__link {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
  vertical-align: middle;
  color: #eee;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -1px
}

.logo__link:hover {
  color: #3e8094
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: default;
}
